@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dynamisk Rangerings System D.R.S.</h1>
    <p>Gucci gang Gucci gang Gucci gang Gucci gang Gucci gang Gucci gang Gucci gang Gucci gang</p>
    <p>Spending all my money on Gucci gang</p>
</div>
